body {
    background: radial-gradient(
        circle at 50%,
        darkgrey 0%,
        magenta 33%,
        teal 66%
    );
    background-repeat: no-repeat;
    height: 100vh;
}
/* This is a comment so I can make a new commit */
p {
    color: darkblue;
}

.task-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.form-field {
	display: flex;
    flex-direction: column;
}

.task-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form span {
	display: flex;
	justify-content: left;
}
