body {
    background: radial-gradient(
        circle at 50%,
        darkgrey 0%,
        magenta 33%,
        teal 66%
    );
    background-repeat: no-repeat;
    height: 100%;
}

p {
    color: darkblue;
}